html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    } 

.pb7 {
    padding-bottom: 70px;
}
/* Override theme's max-width on article tag */
article.mw8 {
    max-width: 100% !important;
}

#patternsTable {
    flex: 1; 
    margin: 20px 0;
} 

/* Tabulator specific styles */
.tabulator .tabulator-tableholder .tabulator-table {
    white-space: normal;
}

.tabulator {
    height: 100% !important;  /* Tabulator fills its parent container */
}

.tabulator-row {
    height: auto !important;
}

.tabulator-cell {
    white-space: normal !important;
    word-break: break-word;
    height: auto !important;
    display: flex; /* Helps align content vertically inside the row */
    align-items: center; /* Vertically centers the content in the cell */
}